.details-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    max-width: 100%;
}

.details {
    display:flex;
    flex-direction: column;
    align-items: center;
    ::ng-deep mwl-gauge {
        width: 150px;
        height:150px;
        padding: 10px;
    
        .dail {
            stroke-width: 10;
        }
    
        .value {
            stroke-dasharray: none;
            stroke-width: 13;
        }
    
        .value-text {
            fill: #cf4449;
            font-weight: 700;
            font-size: 24px
        }
    }
    
    .game-gauge {
        position: center;
        top: 50px;
        justify-content: center;

        &-label {
            font-size: 20px;
            color: #cf4449;
            bottom: 60px;
        }
    }
}



.game {
    &-banner {
        height: 442px;
        overflow: hidden;
        &-img {
            width: 100%;
            filter: blur(3px);
        }
    }

    &-content {
        max-width:100%;
        position:absolute;
        text-align: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        top: 100px;
    }

    &-header{
        &-title {
            width:100%;
            font-size: 70px;
            color: #cf4449;
            font-weight: 700;
            line-height: 70px;
            white-space: nowrap;
        }

        &-release-date {
            color: #cf4449;
            font-weight: 700;
        }

        &-genres {
            color: #cf4449;
            font-weight: 700;
        }
    }
}

